<!DOCTYPE html>
<html>
  <head>
    <title>TddStarting</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="skin-blue sidebar-mini" style="height: auto;">
    <div class="wrapper" style="height: auto;">
      <%= render 'layouts/left_menu' %>
      <div class="content-wrapper" style="min-height: 946px;">
        <section class="content">
          <%= yield %>
        </section>
      </div>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>

</html>
